/* DataCardInfo Scene formats */
.default-label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;

}

/* Main Menu */


/* Instructions scene formats */
.instructions-text {
    -fx-font-size: 12px;
    -fx-font-family: "Elephant";
    -fx-fill: black;
}

.instructions-title {
    -fx-font-size: 24px;
    -fx-font-family: "Impact";
    -fx-font-weight: bold;
    -fx-fill: black;
}

.instructions-scrollPane {
    -fx-background-color:   rgba(210,220,220,0.8);
    -fx-border-color:       rgba(110,195,210,0.8);

}

/* Scheduler */

.ScheduleInputUI-mainBoxes {
    -fx-background-color: #61dee257;
    -fx-background-radius: 5px;
    -fx-border-color: Black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.UserPreference-box {
    -fx-background-color: white;
    -fx-border-color: Black;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.flowBox-names {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-border-color: Black;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.ScheduleList-VBox {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-border-color: Black;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.ScheduleList-HBox {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-border-color: Black;
    -fx-border-width: 2;
    -fx-border-radius: 5;
}

.ScheduleUI-Base {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-color: #8b8a824d;
    -fx-border-color: Black;
    -fx-border-width: 2;
    -fx-border-radius: 0px;
}